body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #111;
    color: white;
    padding: 40px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#results {
    margin-top: 30px;
}
